<div class="create-todo content hidden">
  <form action="/" method="POST">
    <label for="title">Task:</label>
    <input type="text" id="title" name="title" required />
    <label for="tag">Tags:</label>
    <input type="text" id="tag" name="tag" required />
    <input
      type="checkbox"
      id="completed"
      name="completed"
      value="false"
      hidden
    />
    <button>Create task</button>
  </form>
</div>
