<div class="create-todo content" hidden>
  <form action="/" method="POST">
    <label for="title">Todo title:</label>
    <input type="text" id="title" name="title" required />
    <label for="tag">Todo tag:</label>
    <input type="text" id="tag" name="tag" required />
    <input
      type="checkbox"
      id="completed"
      name="completed"
      value="false"
      hidden
    />
    <button>Create task</button>
  </form>
</div>
